<div class="text-center"><a href="https://www.positronx.io/angular-8-es-6-typescript-promises-examples/">Link to source</a></div>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-warning" (click)="launchAsync()">Launch Promise</button>
    <button type="button" class="btn btn-success" (click)="asynMultiResolve()">Multiple Resolve</button>
    <button type="button" class="btn btn-secondary" (click)="asynMultiReject()">Multiple Reject</button>
</div>